@model Foras_Khadra.Models.ErrorViewModel
@{
    ViewData["Title"] = "الصفحة غير موجودة";
    Layout = "_Layout"; 
}

<link rel="stylesheet" href="~/css/_Error.css" />

<div class="container-404">
    <img src="~/images/errors/404.svg" alt="404" />
    <p class="text-container">الصفحة التي تبحث عنها غير متوفرة</p>
</div>
