@{
    ViewData["Title"] = "الصفحة تحت التطوير";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/_Error.css" />

<div class="container-404">
    <img src="~/images/errors/underDevelopment.svg" alt="under_development" />
    <p class="text-container">ما زالت هذه الصفحة قيد التطوير</p>
</div>
