.opp-container {
  margin: 20px auto;
  padding: 20px;
}

/* Top Header Section */
.opp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.opp-title {
  color: #25652c; /* Greenish title */
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Top Card Layout */
.main-card {
  display: flex;
  overflow: hidden;
  color: #333;
  margin-bottom: 30px;
  min-height: 300px;
  gap: 30px;
  border-radius: 24px;
  padding: 9px;
  padding-left: 0px;
}

.card-image-wrapper {
  flex: 2;
  max-width: 580px;
  border-radius: 24px;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.card-info-content {
  flex: 2;
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  column-gap: 70px;
  margin-bottom: 15px;
}

.info-label {
  color: #999;
  font-size: 0.95rem;
}

.info-value {
  color: #333;
  font-weight: 500;
}

.short-desc {
  color: #555;
  line-height: 1.6;
  margin-top: 10px;
  font-size: 0.95rem;
}

/* Bottom Details Card */
.details-card {
  margin-right: 9px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  color: #333;
  text-align: right;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.section-title {
  color: #25652c;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 25px;
}

.section-content {
  color: #444;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* Buttons */
.apply-button {
  background-color: #f99d27; /* Orange button */
  color: white !important;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.apply-button:hover {
  background-color: #e88c16;
}

.btn-back-container {
  margin-top: 5px;
  text-align: left;
}

.btn-back {
  background-color: #6c757d;
  color: white !important;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.verify-badge {
  background-color: #25652c;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-right: 5px;
}
