@model Foras_Khadra.Models.ErrorViewModel
@{
    ViewData["Title"] = "الصفحة قيد التطوير";
    Layout = "_Layout"; 
}

<link rel="stylesheet" href="~/css/_Error.css" />

<div class="container-404">
    <img src="~/images/errors/underDevelopment.svg" alt="underDevelopment" />
    <p class="text-container">ما زالت هذه الصفحة قيد التطوير </p>
</div>
