@{
    ViewData["Title"] = "تأكيد إنشاء الحساب";
}

<div class="alert alert-success text-center mt-5">
    <h4> تم إنشاء حسابك بنجاح</h4>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">
        الذهاب لتسجيل الدخول
    </a>
</div>

