@{
    ViewData["Title"] = "تم إرسال البريد";
}

<div class="alert alert-success">
    <h5>تم إرسال البريد الإلكتروني</h5>
    <p>
        إذا كان البريد الإلكتروني تابعًا لمنظمة مسجلة،
        فسيتم إرسال رابط لإعادة تعيين كلمة المرور الخاصة بمنظمتكم.
    </p>
</div>
