@{
    ViewData["Title"] = "تم إنشاء الحساب";
}

<div class="alert alert-success text-center mt-5">
    <h4> تم إنشاء حساب المنظمة بنجاح</h4>

    <a asp-controller="Organization" asp-action="Login" class="btn btn-primary mt-3">
        الذهاب لتسجيل الدخول
    </a>
</div>
