@{
    ViewData["Title"] = "تم إنشاء الحساب";
}

<div class="alert alert-success text-center mt-5">
    <h4> تم إنشاء حساب المنظمة بنجاح</h4>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        العودة للصفحة الرئيسية
    </a>
</div>
